---
env:
  REPO_NAME: mattkobayashi
  IMAGE_NAME: ix-watch
jobs:
  image:
    name: Image
    runs-on: ubuntu-24.04
    steps:
      # Checkout the repository
      # https://github.com/actions/checkout
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      # Add support for more platforms with QEMU (optional)
      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      # Set up buildx
      # https://github.com/docker/setup-buildx-action
      - name: Set up buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      # Build and load container image
      # https://github.com/docker/build-push-action
      - name: Build container image
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          load: true
          tags: "${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:test"
      # Start and test container image
      - name: Start and test container image
        run: |
          set -eux
          docker compose run --build --interactive=false --name=ix-watch ix-watch &
          sleep 60
          docker container inspect --format='{{.State.Health.Status}}' ix-watch | grep -w 'healthy'
        working-directory: tests
name: Test
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
