---
env:
  REPO_NAME: mattkobayashi
  IMAGE_NAME: ix-watch
jobs:
  image:
    name: Image
    runs-on: ubuntu-24.04
    steps:
      # Harden the runner (Audit all outbound calls)
      # https://github.com/step-security/harden-runner
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      # Checkout the repository
      # https://github.com/actions/checkout
      - name: Checkout the repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      # Add support for more platforms with QEMU (optional)
      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      # Set up buildx
      # https://github.com/docker/setup-buildx-action
      - name: Set up buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      # Build and load container image
      # https://github.com/docker/build-push-action
      - name: Build container image
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          load: true
          tags: "${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:test"
      # Start and test container image
      - name: Start and test container image
        run: |
          set -eux
          docker compose run --build --interactive=false --name=ix-watch ix-watch &
          sleep 60
          docker container inspect --format='{{.State.Health.Status}}' ix-watch | grep -w 'healthy'
        working-directory: tests
name: Test
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
